.container {
  width: 930px;
}
.App {
  text-align: center;
}
.welcome-loader {
  width: 150px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.react-icons {
  vertical-align: middle;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.experience-name {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
