.experience-selector-container {
  width: 350px;
  float: right;
}
.experience-selector-container .suggestion-content .name {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px;
  margin-left: 15px;
  display: inline-block;
}
.input-group svg {
  margin-top: 11px;
  margin-right: -26px;
  z-index: 100;
}

.input-group input {
  padding-left: 30px;
}

.dropdown-menu {
  width: 240px;
}
.dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.experience-selector-container .btn-group {
  float: right;
}
.experience-selector-container .suggestion-content .experience-photo img {
  width: 80px;
  padding: 5px;
}
